@import "~bootstrap/scss/bootstrap";

.card {
    margin: 50px;
}

.alert {
    margin: 50px;
}

.link {
    margin: 30px 0 15px;
}

a {
    text-decoration: none;
    color: black;
    &:hover {
        color: grey;
    }
}

.navbar-brand {
    img {
        width: 100px;
        height: auto;
    }
}

td {
    line-height: 35px;
}